.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #343a40;
    color: #fff;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.col-lg-3 {
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
}

.soc-icn-siz{
	width: 10rem;
}