.masthead .masthead-avatar {
    width: 15rem;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.masthead-subheading {
    font-size: 1.5rem;
}

.masthead-heading {
    font-size: 4rem;
    line-height: 3rem;
}

.padding {
	padding-top: 3rem;
    padding-bottom: 3rem;
}