.nav-ctm{
	font-family: 'Noto Serif', serif;
	font-weight:bold;
}

.masthead {
    padding-top: calc(3rem + 104px);
    padding-bottom: 6rem;
}

.text-white {
    color: #fff !important;
}

.text-black {
	color: #343a40 !important;
}

a{
	color: #999 !important;
}

.text-center {
    text-align: center !important;
}

#mainNav {
    //padding-top: 0.1rem !important;
    //padding-bottom: 0.1rem !important;
    transition: padding-top .3s,padding-bottom .3s !important;
}