//background about
.bg-primary2 {
    background-color: #fff !important;
}

//background portofolio
.portfolio {
	padding-bottom: 3rem;
    //margin-bottom: 30px;
	background-color: #ff4242;
}

.page-section {
    padding: 6rem 0;
}

//background headermaster (home)
.bg-primary {
    background-color: #ff4242 !important;
}

//padding for skill chart
.sm-padding{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 120px;
}
//icon logo skill
.icon-ctm {
	padding-top: 1rem;
	height: 14rem;
	width: 14rem;
}
//skill section text
.skillex {
	font-weight:bold;
}

//4column for skill explanation
.col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
}